{% extends "index.html" %}
{% load widget_tweaks %}
{% block body %}

    <br>
    <br>
    <table class="table table-hover">
    <thead>
    <tr class="table-success" style="color:#000;">
    <th>Descrição</th>
    <th>Quantidade</th>
    <th>Preço Unitário</th>
    </tr>
    </thead>
    <tbody>
    {% for p in prod %}
    <tr  class="table-secondary" style="color:#000;">
    <td>{{ p.descricao }}</td>
    <td>{{ p.quantidade }}</td>
    <td>R$ {{ p.preco }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    
    {% endblock body %}